@import '../../../../app/mixins';

.menu_bar {
    @include flex (center, center, row);
    column-gap: 25px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    backdrop-filter: blur(2px);

    img {
            width: 34px;
            height: 32px;
        }

    p {
        display: none;
        width: 73px;
        height: 27px;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: text-space(24, 5);
        -webkit-text-stroke: 1.5px $black-35;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px $black-25;
        scale: 0.8;
    }

}

.containerNavigation {
    width: 100vw;
    height: 100vh;
    @include flex (center, center, column);
    position: fixed;
    right: -102%;
    top: 0;
    z-index: -20;
    background-color: white;
    border-left: 1px dotted rgba(0,0,0,0.15);
}